
/* base styles*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-size: 100%;
  font-family: Helvetica;
}

h1 {
	text-align: center;
	
}

h2 {
	margin-top: 0px;
	text-align: center;
	background-color:  #b3ecff;
	width: 35%;
    height: 35px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    float: right;
   
}

#section1 {
	
  background-color: gray;
  width: 90%;
  height: 200px; 
  float: left;
  border: 3px solid black;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: auto;
  
}

p {
	top:28px;
	padding: 10px;
	position: relative;

}

/* Responsive */
.row {
  width: 100%;
}

/********** large devices **********/
@media (min-width: 992px) {
  .large
  {
    float: left;
   
  }
  .large
  {
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .tablet1, .tablet2
  {
    float: left;
  }
  .tablet1 {
    width: 47.4%;
  }
  .tablet2 {
    width: 100%;
  }
}


/********** mobile **********/
@media (max-width: 767px) {
  .mobile
  {
    float: left;
  }
  .mobile {
    width: 100%;
  }
}